/* line 5, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
body {
  background-color: white; }

/* line 9, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 13, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.slider_gutter {
  padding-left: 20px; }
  /* line 17, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .slider_gutter .ui-slider {
    width: 85%; }

/* line 25, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  display: inline-block;
  text-align: center;
  width: 9.3%;
  font-size: 8pt; }

/* line 32, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 36, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.dropdown_tod {
  width: 50%; }
  /* line 39, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .dropdown_tod button, .dropdown_tod ul {
    width: 100%; }
  /* line 43, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .dropdown_tod button {
    display: block; }
