/* line 17, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: #28B8A9;
  font-family: 'Open Sans', sans-serif; }

/* line 22, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 26, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.row {
  margin-top: 5px; }

/* line 30, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 34, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; }
  /* line 39, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }
  /* line 44, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel-body {
    padding-top: 22px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px; }

/* line 53, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_label {
  text-align: center;
  text-transform: capitalize; }

/* line 60, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_gutter .ui-slider {
  width: 78%;
  margin-left: auto;
  margin-right: auto; }

/* line 67, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label {
  margin-left: 5.7%; }

/* line 71, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px;
  vertical-align: top; }

/* line 81, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.left {
  margin-top: 12px;
  display: inline-block;
  width: 10%;
  margin-left: 3.45%; }

/* line 89, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.right {
  display: inline-block;
  width: 88%; }

/* line 94, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 99, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-primary {
  background-color: #009989;
  border-color: white;
  color: white; }

/* line 106, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.content_box {
  background-color: #F2FDFC;
  min-height: 100vh;
  height: 100%; }
  /* line 108, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box h1 {
    font-weight: bold; }
  /* line 116, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box .content_size {
    width: 90%; }
  /* line 120, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box div {
    background-color: #F2FDFC; }

/* line 128, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 132, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 137, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

@media only screen and (min-width: 1000px) {
  /* line 143, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .left_margin {
    margin-left: 15px; } }
