/* line 17, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 21, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 25, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
div {
  box-shadow: none; }

/* line 29, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 33, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto; }
  /* line 37, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }

/* line 43, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_label {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px; }

/* line 49, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.ui-slider {
  width: 78%;
  height: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 55, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .ui-slider .ui-slider-handle {
    width: 5em;
    height: 2em;
    margin-left: -3em;
    font-size: 7pt; }
  /* line 62, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .ui-slider .slider_handle {
    background-color: #e6e6e6;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
    word-wrap: break-word;
    padding-top: 0.2em; }
  @media only screen and (min-width: 1024px) {
    /* line 49, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .ui-slider {
      font-size: 10pt; }
      /* line 75, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .ui-slider .slider_handle {
        padding-top: 0px;
        font-size: 9pt; } }

/* line 82, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 10px;
  display: inline-block;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px;
  vertical-align: top; }

/* line 91, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 95, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.content_box {
  padding-left: 0px;
  padding-right: 25px;
  background-color: #F2FDFC;
  min-height: 100vh;
  height: 100%; }
  /* line 101, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box h1 {
    font-weight: bold;
    padding-top: 13px;
    font-size: 14pt; }
    @media only screen and (min-width: 480px) {
      /* line 101, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .content_box h1 {
        font-size: 20pt; } }
    @media only screen and (min-width: 640px) {
      /* line 101, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .content_box h1 {
        font-size: 23px; } }
    @media only screen and (min-width: 1000px) {
      /* line 101, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .content_box h1 {
        font-size: 28px; } }
    @media only screen and (min-width: 1500px) {
      /* line 101, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .content_box h1 {
        font-size: 36px; } }
  /* line 127, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .content_size {
    width: 92%;
    margin-left: auto;
    margin-right: auto; }
  /* line 133, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box div {
    background-color: #F2FDFC; }
  /* line 137, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .entry_form_buttons {
    text-align: center; }
    /* line 140, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .content_box .entry_form_buttons .btn {
      width: 49%; }
  /* line 145, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .entry_update_buttons {
    text-align: center; }
    /* line 148, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .content_box .entry_update_buttons .btn {
      width: 32.3%; }

/* line 154, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.left {
  min-width: 18%;
  padding-top: 3px;
  font-size: 6.5pt;
  text-transform: capitalize;
  margin-right: 3.8651em; }
  @media only screen and (min-width: 640px) {
    /* line 154, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .left {
      font-size: 8pt;
      text-transform: capitalize;
      margin-right: 2.86972em; } }
  @media only screen and (min-width: 1000px) {
    /* line 154, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .left {
      font-size: 10pt;
      margin-right: 2.92761em; } }
  @media only screen and (min-width: 1500px) {
    /* line 154, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .left {
      font-size: 12pt;
      margin-right: 1.00375em; } }

/* line 181, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.right {
  min-width: 80%;
  padding-right: 25px;
  padding-top: 15px;
  padding-left: 0px; }

/* line 190, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.row .btn, .row textarea {
  margin-top: 5px; }

/* line 198, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 202, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 207, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

/* line 213, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_fields {
  margin-top: 5px; }
