/* line 28, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: #28B8A9;
  font-family: 'Open Sans', sans-serif; }

/* line 33, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 37, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.row {
  margin-top: 7px; }

/* line 41, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 45, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; }
  /* line 50, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }
  /* line 55, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel-body {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px; }

/* line 64, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_label {
  text-transform: capitalize; }

/* line 70, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_gutter .ui-slider {
  width: 78%;
  margin-left: auto;
  margin-right: auto; }

/* line 77, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label {
  margin-left: 9.75%; }

/* line 81, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 10px;
  display: inline-block;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px;
  vertical-align: top; }

/* line 90, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.left {
  margin-top: 10px;
  display: inline-block;
  width: 10%;
  margin-left: 3.45%; }

/* line 98, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.right {
  display: inline-block;
  width: 88%; }

/* line 103, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 107, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #008073 !important;
  border-color: #008073 !important;
  color: white !important; }

/* line 116, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-primary {
  background-color: #009989;
  border-color: #008073;
  color: white; }

/* line 122, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #00B242 !important;
  border-color: #00B242 !important;
  color: white !important; }

/* line 131, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-success {
  background-color: #2CCC68;
  border-color: #00B242;
  color: white; }

/* line 137, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #a11b12 !important;
  border-color: #E6261A !important;
  color: white !important; }

/* line 146, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-danger {
  background-color: #e6261a;
  border-color: #E6261A;
  color: white; }

/* line 152, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.content_box {
  background-color: #F2FDFC;
  min-height: 100vh;
  height: 100%; }
  /* line 154, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box h1 {
    font-weight: bold; }
  /* line 162, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box .content_size {
    width: 90%; }
  /* line 166, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box div {
    background-color: #F2FDFC; }

/* line 174, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 178, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 183, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

@media only screen and (min-width: 1000px) {
  /* line 189, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .left_margin {
    margin-left: 15px; } }
