/* line 37, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
body {
  background-color: #28B8A9;
  font-family: 'Open Sans', sans-serif; }

/* line 42, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 46, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 50, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto; }
  /* line 54, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }

/* line 60, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_label {
  font-size: 7.5pt;
  text-transform: capitalize;
  padding-right: 3.01127em;
  padding-left: 0px; }
  @media only screen and (min-width: 1000px) {
    /* line 60, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .entry_label {
      font-size: 7.5pt;
      padding-right: 2.3421em;
      padding-left: 15px; } }

/* line 73, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.ui-slider {
  width: 78%;
  font-size: 7pt;
  height: 1.5em;
  margin-left: auto;
  margin-right: auto; }
  /* line 80, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .ui-slider .ui-slider-handle {
    width: 5em;
    height: 2em;
    margin-left: -3em; }
  /* line 86, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .ui-slider .slider_handle {
    background-color: #e6e6e6;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
    word-wrap: break-word;
    padding-top: .165em; }
  @media only screen and (min-width: 1000px) {
    /* line 73, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .ui-slider {
      font-size: 10pt; }
      /* line 99, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
      .ui-slider .slider_handle {
        font-size: 10pt; } }

/* line 105, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 10px;
  display: inline-block;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px;
  vertical-align: top; }

/* line 114, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 118, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #008073 !important;
  border-color: #008073 !important;
  color: white !important; }

/* line 127, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-primary {
  background-color: #009989;
  border-color: #008073;
  color: white; }

/* line 133, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #00B242 !important;
  border-color: #00B242 !important;
  color: white !important; }

/* line 142, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-success {
  background-color: #2CCC68;
  border-color: #00B242;
  color: white; }

/* line 148, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #a11b12 !important;
  border-color: #E6261A !important;
  color: white !important; }

/* line 157, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.btn-danger {
  background-color: #e6261a;
  border-color: #E6261A;
  color: white; }

/* line 163, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.content_box {
  background-color: #F2FDFC;
  min-height: 100vh;
  height: 100%; }
  /* line 165, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box h1 {
    font-weight: bold;
    margin-top: 13px; }
  /* line 174, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .content_size {
    width: 92%;
    margin-left: auto;
    margin-right: auto; }
  /* line 180, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box div {
    background-color: #F2FDFC; }
  /* line 184, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .entry_form_buttons {
    text-align: center; }
    /* line 187, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .content_box .entry_form_buttons .btn {
      width: 49%; }
  /* line 192, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
  .content_box .entry_update_buttons {
    text-align: center; }
    /* line 195, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
    .content_box .entry_update_buttons .btn {
      width: 32.3%; }

/* line 201, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.left {
  min-width: 18%;
  padding-top: 3px; }

/* line 206, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.right {
  min-width: 80%;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 0px; }

/* line 215, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.row .btn, .row textarea {
  margin-top: 5px; }

/* line 223, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 227, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 232, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

/* line 238, /home/lucas/Desktop/Dev/mood-tracker/mood/static/mood/css/style.scss */
.entry_fields {
  margin-top: 5px; }
