/* line 10, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: white; }

/* line 14, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 18, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 22, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; }
  /* line 27, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }
  /* line 32, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel-body {
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px; }

/* line 41, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_label {
  text-align: center;
  text-transform: capitalize; }

/* line 48, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_gutter .ui-slider {
  width: 78%;
  margin-left: auto;
  margin-right: auto; }

/* line 55, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label {
  margin-left: 5.7%; }

/* line 59, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px; }

/* line 68, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.left {
  margin-top: 8px;
  display: inline-block;
  width: 10%;
  margin-left: 7.45%; }

/* line 75, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.right {
  margin-right: 7.45%;
  display: inline-block;
  width: 88%; }

/* line 81, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 85, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.submit_button {
  margin-top: 10px; }

/* line 91, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 95, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 100, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }
