/* line 28, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: #28B8A9;
  font-family: 'Open Sans', sans-serif; }

/* line 33, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 37, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_slider {
  margin-bottom: 0px; }

/* line 41, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.outer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; }
  /* line 46, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel {
    border: none;
    box-shadow: none; }
  /* line 51, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .outer .panel-body {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px; }

/* line 60, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_label {
  text-transform: capitalize; }

/* line 66, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_gutter .ui-slider {
  width: 78%;
  font-size: 7pt;
  height: 1.5em;
  margin-left: auto;
  margin-right: auto; }
  /* line 73, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .slider_gutter .ui-slider .ui-slider-handle {
    width: 5em;
    height: 2em; }
  /* line 79, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .slider_gutter .ui-slider .slider_handle {
    background-color: #e6e6e6;
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
    word-wrap: break-word; }

/* line 89, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label {
  margin-left: 9%; }

/* line 93, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  padding-top: 10px;
  display: inline-block;
  width: 9.5%;
  font-size: 8.6pt;
  margin-left: 2px;
  vertical-align: top; }

/* line 102, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 106, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #008073 !important;
  border-color: #008073 !important;
  color: white !important; }

/* line 115, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-primary {
  background-color: #009989;
  border-color: #008073;
  color: white; }

/* line 121, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #00B242 !important;
  border-color: #00B242 !important;
  color: white !important; }

/* line 130, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-success {
  background-color: #2CCC68;
  border-color: #00B242;
  color: white; }

/* line 136, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #a11b12 !important;
  border-color: #E6261A !important;
  color: white !important; }

/* line 145, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.btn-danger {
  background-color: #e6261a;
  border-color: #E6261A;
  color: white; }

/* line 151, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.content_box {
  background-color: #F2FDFC;
  min-height: 100vh;
  height: 100%; }
  /* line 153, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box h1 {
    font-weight: bold;
    margin-top: 13px; }
  /* line 162, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box .content_size {
    width: 90%; }
  /* line 166, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box div {
    background-color: #F2FDFC; }
  /* line 170, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box .entry_form_buttons {
    text-align: center; }
    /* line 173, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
    .content_box .entry_form_buttons .btn {
      width: 49%; }
  /* line 178, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .content_box .entry_update_buttons {
    text-align: center; }
    /* line 181, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
    .content_box .entry_update_buttons .btn {
      width: 32.3%; }

/* line 189, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.row .btn, .row textarea {
  margin-top: 5px; }

/* line 197, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button, .button_fill ul, .button_fill input {
  width: 100%; }

/* line 201, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.button_fill button {
  display: block; }

/* line 206, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

/* line 212, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_fields {
  margin-top: 5px; }

@media only screen and (min-width: 1000px) {
  /* line 216, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .left_margin {
    margin-left: 15px; } }
