/* line 5, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: white; }

/* line 9, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }
  /* line 13, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  ul li {
    width: 50%; }
  /* line 17, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  ul .slider_label_inner {
    display: inline-block;
    text-align: center;
    width: 11%; }
  /* line 23, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  ul .entry_field {
    display: none; }
