/* line 5, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
body {
  background-color: white; }

/* line 9, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
ul {
  list-style: none; }

/* line 13, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_gutter {
  padding-left: 20px; }
  /* line 17, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
  .slider_gutter .ui-slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }

/* line 24, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label {
  margin-top: 5px;
  margin-left: 7.5%; }

/* line 29, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.slider_label_inner {
  display: inline-block;
  text-align: center;
  width: 9.8%;
  font-size: 8pt; }

/* line 36, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.left {
  display: inline-block; }

/* line 40, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.right {
  display: inline-block; }

/* line 44, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.entry_field {
  display: none; }

/* line 50, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.dropdown_tod button, .dropdown_tod ul {
  width: 100%; }

/* line 54, /Users/lucasmarcelli/Desktop/Dev/mood_tracker/mood/static/mood/css/style.scss */
.dropdown_tod button {
  display: block; }
