<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% load compress %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    {% compress js %}
      <script src="{% static "mood/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endcompress %}

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/bootstrap.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/bootstrap-theme.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/css/style.scss" %}" />
    {% endcompress %}






    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 content_box">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
