<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% load compress %}


    {% compress js %}
      <script src="{% static "mood/bootstrap/js/jquery.min.js" %}"></script>
     
      <script src="{% static "mood/bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "mood/bootstrap/js/jquery-ui.min.js" %}"></script>
      

    {% endcompress %}

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/bootstrap.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/bootstrap-theme.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/jquery-ui.structure.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/bootstrap/css/jquery-ui.min.css" %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static "mood/css/style.scss" %}" />
    {% endcompress %}






    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 content_box">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
