@function setEmFromPt($size) {
	$em: $size / 11.955168pt; //conversion factor
	@return #{$em}em;
}


$site-background-color: #28B8A9;
$site-content-background-color: #F2FDFC;

$bootstrap-primary-color: #009989;
$bootstrap-primary-border-color: #008073;
$bootstrap-primary-color-selected: #008073;
$bootstrap-primary-text-color: white;

$bootstrap-success-color: #2CCC68;
$bootstrap-success-border-color: #00B242;
$bootstrap-success-color-selected: #00B242;
$bootstrap-success-text-color: white;

$bootstrap-danger-color: #e6261a;
$bootstrap-danger-border-color: #E6261A;
$bootstrap-danger-color-selected: #a11b12;
$bootstrap-danger-text-color: white;


$entry-vertical-padding: 10px;
$entry-horizontal-padding: 0px;
$entry-panel-offset: 10px;

$content-size: 92%;

$slider-handle-size: 7pt;




body{
	background-color: $site-background-color;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
}

.entry_slider{
	margin-bottom: 0px;
}

.outer {
	margin-left: auto;
	margin-right: auto;

	.panel{
		border: none;
		box-shadow: none;
	}
}

.entry_label{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
}

.ui-slider{
	width: 78%;
	font-size: $slider-handle-size;
	height: 1.5em;
	margin-left: auto;
	margin-right: auto;

	.ui-slider-handle{
		width: 5em;
		height: 2em;
		margin-left: -3em;
	}

	.slider_handle{
		background-color: #e6e6e6;
		text-align: center;
		vertical-align: middle;
		font-size: $slider-handle-size + 1;
		word-wrap: break-word;
		padding-top: .165em;

	}

		@media only screen and (min-width:1024px){
			font-size: $slider-handle-size + 3;

			.slider_handle{
				font-size: $slider-handle-size + 4;
			}
	}
}

.slider_label_inner{
	padding-top: $entry-panel-offset;
	display: inline-block;
	width:9.5%;
	font-size: 8.6pt;
	margin-left: 2px;
	vertical-align: top;
}

.entry_field{
	display: none;
}
//kludge for now, gonna get the LESS bootstrap and make my own buttons later.
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
 	background-color: $bootstrap-primary-color-selected !important;
	border-color: $bootstrap-primary-border-color !important;
	color: $bootstrap-primary-text-color !important;
}

.btn-primary{
	background-color: $bootstrap-primary-color;
	border-color: $bootstrap-primary-border-color;
	color: $bootstrap-primary-text-color;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
 	background-color: $bootstrap-success-color-selected !important;
	border-color: $bootstrap-success-border-color !important;
	color: $bootstrap-success-text-color !important;
}

.btn-success{
	background-color: $bootstrap-success-color;
	border-color: $bootstrap-success-border-color;
	color: $bootstrap-success-text-color;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
 	background-color: $bootstrap-danger-color-selected !important;
	border-color: $bootstrap-danger-border-color !important;
	color: $bootstrap-danger-text-color !important;
}

.btn-danger{
	background-color: $bootstrap-danger-color;
	border-color: $bootstrap-danger-border-color;
	color: $bootstrap-danger-text-color;
}

.content_box{

	padding-left: 0px;
	padding-right: 25px;


	h1{
		font-weight: bold;
		padding-top: 13px;
		font-size: 14pt;

		@media only screen and (min-width:480px){
			font-size: 20pt;
		}

		@media only screen and (min-width:640px){
			font-size: 23px;
		}

		@media only screen and (min-width:1000px){
			font-size: 28px;
		}

		@media only screen and (min-width:1500px){
			font-size: 36px;
		}
	}

	background-color: $site-content-background-color;
	min-height: 100vh;
	height: 100%;

	.content_size{
		width: $content-size;
		margin-left: auto;
		margin-right: auto;
	}

	div{
		background-color: $site-content-background-color;
	}

	.entry_form_buttons{
		text-align: center;

		.btn{
			width: 49%;
		}
	}

	.entry_update_buttons{
		text-align: center;

		.btn{
			width: 32.3%;
		}
	}
}

.left{
	min-width: 18%;
	padding-top: 3px;


	font-size: 6.5pt;
	text-transform: capitalize;
	margin-right: 5 * setEmFromPt(($slider-handle-size)) + (15/16);

	@media only screen and (min-width:640px){
		font-size: 8pt;
		text-transform: capitalize;
		margin-right: 3.3 * setEmFromPt(($slider-handle-size)) + (15/16);
	}


	@media only screen and (min-width:1000px){
		font-size: 10pt;
		margin-right: 3.5 * setEmFromPt(($slider-handle-size + 3));
	}

	@media only screen and (min-width:1500px){
		font-size: 12pt;
		margin-right: setEmFromPt(($slider-handle-size + 5));
	}
}

.right{
	min-width: 80%;
	padding-right: 25px;
	padding-top: 15px;
	padding-left: 0px;
}

.row{

	.btn, textarea{
		margin-top: 5px;
	}
}


.button_fill{

	button, ul, input{
		width: 100%;
	}

	button{
		display: block;
	}
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.entry_fields {
	margin-top: 5px;
}
