{% extends "base.html" %}

{% block head_title %}Add Entry{% endblock %}

{% block extra_head %}

{% load compress %}
{% compress js %}
    <script src="/static/mood/scripts/entry.js"></script>
{% endcompress %}
 {% endblock %}


{% block content %}
	
	<div class="content_size">
	<form action="" method="post" role="form">{% csrf_token %}
		<div class="form-group"> 
			<div class="row">
				<h1 class="left_margin"> Add an Entry for {{ view.get_date }} </h1>
			</div>
			<div class="row-fluid">
				<div class="outer panel-group equal">
					<div class="panel panel-default left">
						<div class="panel-body entry_label">
							{{ form.happiness_level.label }}
						</div>
					</div>
					<div class="panel panel-default right equal col-md-5">
							<div id="slider_happiness_level" class="col-md-5">
							</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="outer panel-group equal">
					<div class="panel panel-default left">
						<div class="panel-body entry_label">
							{{ form.anger_level.label }}
						</div>
					</div>
					<div class="panel panel-default right equal col-md-5">
							<div id="slider_anger_level" class="col-md-5">
							</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="outer panel-group equal">
					<div class="panel panel-default left">
						<div class="panel-body entry_label">
							{{ form.anxiety_level.label }}
						</div>
					</div>
					<div class="panel panel-default right equal col-md-5">
							<div id="slider_anxiety_level" class="col-md-5">
							</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="outer panel-group equal">
					<div class="panel panel-default left">
						<div class="panel-body entry_label">
							{{ form.motivation_level.label }}
						</div>
					</div>
					<div class="panel panel-default right equal col-md-5">
							<div id="slider_motivation_level" class="col-md-5">
							</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="outer panel-group equal">
					<div class="panel panel-default left">
						<div class="panel-body entry_label">
							{{ form.energy_level.label }}
						</div>
					</div>
					<div class="panel panel-default right equal col-md-5">
							<div id="slider_energy_level" class="col-md-5">
							</div>
					</div>
				</div>
			</div>
			</div>
				<div class="row">
					<div class="dropdown entry_fields button_fill col-md-6">
						  <button class="btn btn-primary dropdown-toggle" id="tod_dropdown" type="button" data-toggle="dropdown">Morning (Select to Change)<span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a href="#" onclick="time_of_day('Morning');return false;">Morning</a></li>
						    <li><a href="#" onclick="time_of_day('Afternoon');return false;">Afternoon</a></li>
						    <li><a href="#" onclick="time_of_day('Evening');return false;">Evening</a></li>
						    <li><a href="#" onclick="time_of_day('Night');return false;">Night</a></li>
						  </ul>
					</div>
				</div>
				{{ form.tod }}
				{{ form.happiness_level }}
				{{ form.anger_level }}
				{{ form.anxiety_level }}
				{{ form.motivation_level }}
				{{ form.energy_level }}
			<div class="row">
				<div class="col-md-6">
					{{ form.description }}
				</div>
			</div>
			<div class="row">   
				<div class="col-md-6 entry_form_buttons">
					<input type="submit" value="Save" class="btn btn-success"/>
					<input type="button" value="Back" class="btn btn-info" onClick="javascript:history.go(-1);"/>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block extra_body %}
	<script>
	// generate the slider code for each one automatically
	{% for field in form.fields %}
		var slider_val =  $('#id_{{ field }}').val();
		$( "#slider_{{ field }}" ).slider({
			min: -4,
			max: 4,
			step: 1,
		    value: slider_val, 
		    slide: function( event, ui ) {
		        $('#id_{{ field }}').val(ui.value);
		        switch(ui.value){
		        	case -4:
		        		$(this).find('div').text('----');
		        		break;
		        	case -3:
		        		$(this).find('div').text('---');
		        		break;
		        	case -2:
		        		$(this).find('div').text('--');
		        		break;
		        	case -1:
		        		$(this).find('div').text('-');
		        		break;
		        	case 0: 
		        		$(this).find('div').text('Normal');
		        		break;
		        	case 1:
		        		$(this).find('div').text('+');
		        		break;
		        	case 2:
		        		$(this).find('div').text('++');
		        		break;
		        	case 3:
		        		$(this).find('div').text('+++');
		        		break;
		        	case 4:
		        		$(this).find('div').text('++++');
		        		break;
		        }
		    },
		    create: function( event, ui ){
		    	$(this).find('span').html('<div class="slider_handle"></div>');
		    	x = $('#id_{{ field }}').val();
				switch(x){
		        	case "-4":
		        		$(this).find('div').text('----');
		        		break;
		        	case "-3":
		        		$(this).find('div').text('---');
		        		break;
		        	case "-2":
		        		$(this).find('div').text('--');
		        		break;
		        	case "-1":
		        		$(this).find('div').text('-');
		        		break;
		        	case "0": 
		        		$(this).find('div').text('Normal');
		        		break;
		        	case "1":
		        		$(this).find('div').text('+');
		        		break;
		        	case "2":
		        		$(this).find('div').text('++');
		        		break;
		        	case "3":
		        		$(this).find('div').text('+++');
		        		break;
		        	case "4":
		        		$(this).find('div').text('++++');
		        		break;
		        }
		    }
		});
	{% endfor %}
	</script>

{% endblock %}
