{% load mood_extras %}

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'profile' %}">Mood</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'about' %}">About &nbsp;<i class="fa fa-info"></i></a></li>
            {% if calendar_year %}
                <li><a href="/{% calendar_year %}/{% calendar_month %}">Calendar &nbsp;<i class="fa fa-calendar"></i></a></li>
            {% else %}
                {% now "Y" as current_year %}
                {% now "n" as current_month %}
                <li><a href="{% url 'day_month' current_year current_month%}">Calendar &nbsp;<i class="fa fa-calendar"></i></a>
            {% endif %}
        <li><a href="/accounts/logout">Logout &nbsp;<i class="fa fa-sign-out"></i></a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'about' %}">About &nbsp;<i class="fa fa-info"></i></a></li>
    </ul>
    {% endif %}
	</div>
</nav>
