{% extends "base.html" %}

{% block head_title %} Profile for {{ view.get_name }} {% endblock %}

{% block content %}

	<div class="content_size">
		<div class="row-fluid">
			<h1>{{ view.get_name }}</h1>
		</div>
		<div class="row-fluid">
			<div class="col-md-offset-1 col-md-10">
					<div class="panel panel-default">
						<div class="panel-heading">
							Latest Mood Entry
						</div>
						<div class="panel-body">
							asdasds
						</div>
					</div>
			</div>
		</div>

	</div>


{% endblock %}
