<div class="slider_label">
					<div class="slider_label_inner">
						Incredibly Lowered
					</div>
					<div class="slider_label_inner">
						Extremely Lowered
					</div>
					<div class="slider_label_inner">
						Noticeably Lowered
					</div>
					<div class="slider_label_inner">
						Slightly Lowered
					</div>
					<div class="slider_label_inner">
						Your Baseline
					</div>
					<div class="slider_label_inner">
						Slightly Raised
					</div>
					<div class="slider_label_inner">
						Noticeably Raised
					</div>
					<div class="slider_label_inner">
						Extremely Raised
					</div>
					<div class="slider_label_inner">
						Incredibly Raised
					</div>
				</div>